@font-face {
  font-family: 'logo';
  src: url(Calton-CaltonRegularStencil.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }

  

.navbar-brand{
  font-family: logo; 
}

.nav-link:active, .nav-link:hover{
  background: #1b9bff;
    transition: .5s;
    border-radius: 5px;
}

.nav-link{
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 0;
  padding-right: 0;
  margin-left: 15px;
  margin-right: 15px;
  
}


  
  .sobre{
    border-top: solid;
    border-color: #353839;
    width: 100%;
    height: 17em;
  }
  .details{
    background-image: url(FUNDO1.jpg);
    height: 100%;
    width: 100%;
    padding-bottom: 20em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .primary{
    
    color: white;
    padding-top: 1rem;
    padding-left: 30px;
    font-size: clamp(1.50rem, 3vw, 5rem);
  }

  .sobre .desc{
    color: #d6daf5;
    margin: 10px 0;
    padding-left: 30px;
    padding-bottom: 0.5vw;
  }

  .desc{
    font-size: clamp(0.67em, 4vw, 2em);
  }



.container-fluid{
  padding-top: 24px;
  background: #edf0f4;
  margin-top: 1.5em;
}



.container{
  padding: 24px 12px;
  background: #edf0f4;
  margin-top: 1.5em;
}

.container-fluid h2{
  color: #165a72;
  font-weight: 100;
  font-family: "Source Sans Pro", sans-serif;
  font-size: clamp(2em, 5vw,4em);
  padding: 10px 2em;
}


.glide{
  padding-top: 10px;
}
.glide__slide{
  margin: 5px;
  width: 200px;
  height: auto;
}


.flexbox{
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}


.fa-color{
  color: #3d477b
  ;
}
ul li h3{
  color: black;
  font-size: clamp(1em, 2.5vw, 3em);
  font-weight: 500;
}
button{
  margin: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}


.consultoria{
  background-image: url(SEILA.jpeg);
  display: inline-block;
  height: auto;
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 3vw;
}

.consultoriaText{
  color: rgb(247, 247, 247);
  padding-top: 1vh;
  margin-left: 1rem;
  font-size: clamp(1em, 6vw, 3em)

}

.consultoria {
  color: rgb(247, 247, 247);
    margin: 10px 0;
    padding-left: 30px;
    font-size: clamp(1vw, 1em + 1vw, 2em)}
.animate-consultoria{
  
  overflow: hidden;
  white-space: nowrap;
  animation: type 3.5s steps(40,end), caret-blink 500ms ease infinite;
  border-right: 5px solid white;
  animation-delay: 1s;
}
@keyframes type {
  from{width: 0;}
  to{width: 6.4em;}
}

@keyframes caret-blink {
  0% {
    border-color: transparent;
  }

  50%{
    border-color: white;
  }

  100%{
    border-color: transparent;
  }
}
.flex-container_consultoria {
  display: flex;
  float: right;

}



.projetos{  
  background-image: url(fundo_projetos.jpeg);
  display: inline-block;
  position: relative;
  width: 50%;
  height: 25em;
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


  
  .projetosText{
    display: inline-block;
    color: rgb(247, 247, 247);
    padding-top: 20px;
    padding-left: 30px;
    font-size: clamp(1em, 1em + 3vw, 2.5em);  
  }
  
  .projetos h3{
    color: rgb(247, 247, 247);
    font-weight: 430;
      margin: 10px 0;
      line-height: 43px;
      padding-left: 30px;
      padding-bottom: 25px;
    
  }
  
  .flex-container_projetos{
    display: flex;
    float: left;
  
  }
  
  .child {
  width: auto;
  height: 19.5em;
  border: 1px solid yellow;
  background-color: green;
  }  
  


  