@font-face {
  font-family: 'logo';
  src: url(Calton-CaltonRegularStencil.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }

.navbar-brand{
  font-family: logo; 
}

.nav-link:active, .nav-link:hover{

  background: #1b9bff;
    transition: .5s;
    border-radius: 5px;
}

  
  .sobre{
    border-top: solid;
    border-color: #353839;
    width: 100%;
    height: 17em;
  }
  .details{
    background-image: url(FUNDO1.jpg);
    height: 100%;
    width: 100%;
    padding-bottom: 20em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .primary{
    
    color: white;
    padding-top: 1rem;
    padding-left: 30px;
    font-size: 70px;
  }

  .sobre .desc{
    color: #d6daf5;
    margin: 10px 0;
    padding-left: 30px;
    padding-bottom: 0.5vw;
  }

  .desc{
    font-size: clamp(0.5em, 5vw, 1.5em);
  }

  @media screen and (max-width: 952px){
    .primary{
      font-size: 44.8px;	
    }

    .logoSobre{
      max-width: 100%;
      max-height: 300px;
      width: 300px;
      height: auto;
      object-fit: contain;
    }
}



.container-fluid{
  padding: 24px 12px;
  background: #edf0f4;
  margin-top: 1.5em;
}



.container{
  padding: 24px 12px;
  background: #edf0f4;
  margin-top: 1.5em;
}

.container-fluid h2{
  color: #165a72;
  font-weight: 100;
  font-family: "Source Sans Pro", sans-serif;
  font-size: clamp(2em, 5vw,4em);
  padding: 10px 2em;
}


.glide{
  padding-top: 10px;
}
.glide__slide{
  margin: 5px;
  width: 200px;
  height: auto;
}


.flexbox{
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}


.fa-color{
  color: #3d477b
  ;
}
ul li h3{
  color: black;
  font-size: clamp(1em, 2.5vw, 3em);
  font-weight: 500;
}
button{
  margin: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}


.consultoria{
  background-image: url(SEILA.jpeg);
  display: inline-block;
  position: relative;
  width: 50%;
  height: 25em;
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.consultoriaText{
  display: inline-block;
  color: rgb(247, 247, 247);
  padding-top: 20px;
  padding-left: 30px;
  font-size: 5em;}

.consultoria h3{
  color: rgb(247, 247, 247);
  font-weight: 430;
    margin: 10px 0;
    font-size: 40px;
    line-height: 43px;
    padding-left: 30px;
    padding-bottom: 25px;
  
}
.animate-consultoria{
  
  overflow: hidden;
  white-space: nowrap;
  animation: type 3.5s steps(40,end), caret-blink 500ms ease infinite;
  border-right: 5px solid white;
  animation-delay: 1s;
}
@keyframes type {
  from{width: 0;}
  to{width: 6.4em;}
}

@keyframes caret-blink {
  0% {
    border-color: transparent;
  }

  50%{
    border-color: white;
  }

  100%{
    border-color: transparent;
  }
}
.flex-container_consultoria {
  display: flex;
  float: right;

}

.flex-child {
  flex: 1;
  width: 180px;
  height: 25em;
  border: 2px solid yellow;
  background-color: green;
  margin-right: 20px;
  padding-right: 50px;
}  


@media (max-width: 1000px){

  .consultoriaText{
    font-size: 30px;
  }

  .consultoria h3{
    font-size: 20px;
    line-height: 20px;
  }

  .flex-child{
    width: 100px;
    margin-right: 5px;
    height: 16.5em;
  }

  .consultoria{
    height: 16.5em;
  }
}

@media (max-width: 768px){
  .consultoria{
    height: 16.5em;
    width: 26em;
  }

  .flex-child{
    width: 90px;
    height: 16.5em;
    margin-left: 10px;
  }
}

@media (max-width: 425px) {
  
  .consultoriaText{
    font-size: 25px;
  }

  .consultoria h3{
    font-size: 20px;
    line-height: 18px;
  }

  .consultoria{
    height: 16.5em;
    width: 50%;
  }

  .flex-child{
    margin-left: -5px;
    width: 80px;
    height: 16.5em;
  }
}

.projetos{  
  background-image: url(fundo_projetos.jpeg);
  display: inline-block;
  position: relative;
  width: 50%;
  height: 25em;
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


  
  .projetosText{
    display: inline-block;
    color: rgb(247, 247, 247);
    padding-top: 20px;
    padding-left: 30px;
    font-size: 5em;}
  
  .projetos h3{
    color: rgb(247, 247, 247);
    font-weight: 430;
      margin: 10px 0;
      font-size: 40px;
      line-height: 43px;
      padding-left: 30px;
      padding-bottom: 25px;
    
  }
  
  .flex-container_projetos{
    display: flex;
    float: left;
  
  }
  
  .flex-child {
    flex: 1;
  width: 180px;
  height: 25em;
  border: 2px solid yellow;
  background-color: green;
  margin-right: 20px;
  padding-right: 50px;
  }  
  
  /* MEDIAS QUERIES */

  @media (max-width: 1024px) {
    #logoImg{
      margin-left: 20px;
    }

    label.logo{
      font-family: logo;
    color: white;
    font-size: 35px;
    line-height: 85px;
    padding: 0 10px;
    }

    nav ul li a{
      color: white;
      font-size: 13.5px;
      padding: 7px 13px;
      border-radius: 3px;
      text-transform: uppercase;
    }

    .consultoriaText, .projetosText{
      font-size: 3.5em;
    }

    .consultoria h3{
      font-size: 2em;
      line-height: 40px;
    }

    .projetos h3{
      font-size: 2em;
      line-height: 40px;
    }

    .flex-child{
      width: 8em;
      height: 25em;
      margin-left: 10px;
    }
  }

  @media (max-width: 768px) {
      .checkbtn{
        margin-right: 50px;
        line-height: 85px;
      }

      .consultoria, .projetos{
        width: 24em;
        height: 16.5em;
      }


      .consultoria h3, .projetos h3{
        font-size: 1.5em;
        line-height: 20px;
      }
      
    .flex-child{
      width: 5.5em;
      height: 16.5em;
    }

  }


  