
@font-face {
  font-family: "Logo";
  src: url("/fonts/Calton-CaltonRegularStencil.woff2") format("woff2"),
       url("/fonts/Calton-CaltonRegularStencil.woff") format("woff");
       font-weight: normal;
       font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }


  

.navbar-brand{
  font-family: Logo; 
}

.nav-link:active, .nav-link:hover{
  background: #1b9bff;
    transition: .5s;
    border-radius: 5px;
}

.nav-link{
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 0;
  padding-right: 0;
  margin-left: 15px;
  margin-right: 15px;
  
}


  
  .sobre{
    border-top: solid;
    border-color: #353839;
    width: 100%;
    height: 17em;
  }
  .details{
    background-image: url(header.jpg);
    height: 100%;
    width: 100%;
    padding-bottom: 20em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .primary{
    
    color: white;
    padding-top: 1rem;
    padding-left: 30px;
    font-size: clamp(1.50rem, 3vw, 5rem);
  }

  .sobre .desc{
    color: #d6daf5;
    margin: 10px 0;
    padding-left: 30px;
    padding-bottom: 0.5vw;
  }

  .desc{
    font-size: clamp(0.67em, 4vw, 2em);
  }



.container-fluid{
  padding-bottom: 1em;
  padding-top: 24px;
  background: #edf0f4;
  margin-top: 1.5em;
}


.container-fluid h2{
  color: #165a72;
  font-weight: 100;
  font-family: "Source Sans Pro", sans-serif;
  font-size: clamp(2em, 3.7vw,4em);
  padding: 10px 2em;
}


.glide{
  padding-top: 10px;
}
.glide__slide{
  margin: 5px;  
}


.flexbox{
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}


.fa-color{
  color: #3d477b
  ;
}
ul li h3{
  color: black;
  font-size: clamp(1em, 2.5vw, 3em);
  font-weight: 500;
}
button{
  margin: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}


.consultoria{
  background-image: url(consultoria.jpeg);
  display: inline-block;
  height: auto;
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 3vw;
}

.consultoriaText{
  color: rgb(247, 247, 247);
  padding-top: 1vh;
  margin-left: 1vw;
  font-size: clamp(1em, 6vw, 3em)

}

.consultoria p {
  color: rgb(247, 247, 247);
    margin: 10px 0;
    padding-left: 1vw;
    font-size: clamp(1vw, 1em + 1vw, 2em)
  }





.projetos{  
  background-image: url(projetos.jpeg);
  display: inline-block;
  height: auto;
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 3vw;

}

.coluna{
  height: 18em;
  background-image: url(consultoria_card.jpg);
    background-size: cover;
    background-position: center;
  }

.coluna2{
  height: 18em;
  background-image: url(consultoria_card2.jpg);
  background-size: cover;
  background-position: center;
}

.coluna3{
  height: 18em;
  background-image: url(projetos_card.jpg);
  background-size: cover;
  background-position: center;
}

.coluna4{
  height: 18em;
  background-image: url(projeto_card2.jpg);
  background-size: cover;
  background-position: center;
}


  
  .projetosText{
    display: inline-block;
    color: rgb(247, 247, 247);
    padding-top: 20px;
    padding-left: 30px;
    font-size: clamp(1em, 1em + 3vw, 2.5em);  
  }
  
  .projetos p{
    color: rgb(247, 247, 247);
    margin: 10px 0;
    padding-left: 1vw;
    font-size: clamp(1vw, 1em + 1vw, 2em)
    
  }
  
  
  
  .child {
  height: 18em;
  border: 1px solid yellow;
  background-color: green;
  }  

  #contato{
    padding: 1.8em 1.8em 5px 1.8em;
    width: 90%;
    max-width: 30em;
    background-color: white;
    border-radius: 4px;
}

a:link{
    text-decoration: none;
}

